@import "bootstrap";
#header_shadow {
background: url('http://theme.stepofweb.com/Atropos/v1.3/HTML/assets/images/header_shadow.png') no-repeat top center;
top: 81px;
left: 0;
right: 0;
height: 75px;
z-index: -1;
position: absolute;
margin-top: 0px;
}
.subscription-form {
display: inline-block;
margin: 0 0 60px 0;
position: relative;
}
.subscription-email {
width: 350px;
height: 54px;
padding: 13px 5px 11px 20px;
float: left;
font-size: 18px;
line-height: 28px;
color: #363636;
border: 1px solid #ccc;
border-right-width: 0;
border-radius: 27px 0 0 27px;
-webkit-box-shadow: none;
box-shadow: none;
}
.subscription-email {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
vertical-align: top;
font: inherit;
-webkit-transition: none;
transition: none;
-webkit-appearance: none;
}
.subscription-submit-container {
display: inline-block;
height: 54px;
padding: 4px;
padding-left: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
float: right;
background: #fff;
border: 1px solid #ccc;
border-left-width: 0;
border-top-right-radius: 27px;
border-bottom-right-radius: 27px;
}
.subscription-submit:hover, {
color: #fff;
background-color: #F87F0E;
outline: none;
}
.subscription-submit {
border-radius: 27px 0 0 27px;
height: 44px;
padding: 0 20px;
font-size: 16px;
font-weight: bold;
color: #fff;
letter-spacing: 1px;
text-shadow: inherit;
background-color: #F87F0E;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F9A621), to(#F87F0E));
background-image: -webkit-linear-gradient(#F9A621, #F87F0E);
background-image: linear-gradient(#F9A621, #F87F0E);
border-radius: 22px;
}
.subscription-submit {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
vertical-align: top;
font: inherit;
-webkit-transition: none;
transition: none;
-webkit-appearance: none;
}