@import "bootstrap";
#header_shadow {
background: url('http://theme.stepofweb.com/Atropos/v1.3/HTML/assets/images/header_shadow.png') no-repeat top center;
top: 81px;
left: 0;
right: 0;
height: 75px;
z-index: -1;
position: absolute;
margin-top: 0px;
}
